.demo {
  text-align: center;
  margin: 40px 0 500px;
}

.counter-block {
	padding: 75px 0;
	background-color: #f9f9f9;
	border: solid 1px #e6e6e6;
	@media screen and (max-width: 767px) {
		padding: 45px 0;
	}
}
.counter-block .counter-items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }
}
.counter-block .counter-items .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2em;
        @media screen and (max-width: 767px) {
            padding: 2em;
            border-top: solid 1px #e6e6e6;
            &:first-child {
                border: none;
            }
        }
}
